* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 75px;
    background-color: #1e2d3b;
}

main {
    background-color: #2E3A46;
}
.discs-container {
    width: 80%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.discs-container .disc {
    width: 19%;
    height: 400px;
    background-color: #1e2d3b;

    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    color: white;
}

.discs-container .disc img {
    height: 150px;
    width: 150px;
}

.discs-container .disc .disc-title {
    font-weight: bold;
    font-size: 30px;
}